.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 7%;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
}

.header__logo {
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 600;
  cursor: pointer;
  margin-right: auto;
}

#darkMode-icon {
  font-size: 2.4rem;
  color: var(--white-color);
  cursor: pointer;
}
